:root {
  --inner: 1140px;
  --inner-s: 800px;
  --sp-max-width: 540px;
  --padding-pc: 25px;
  --padding-sp: 40px;
}

:root {
  --base-font: "Zen Kaku Gothic New", sans-serif;
  --second-font: "Josefin Sans", sans-serif;
}

:root {
  --c-base: #fff;
  --c-primary: #00236d;
  --c-gray: #f5f5f5;
  --c-text: #1a1a1a;
  --c-text-white: #fff;
}

:root {
  --z-index-modal: 50;
  --z-index-modal-open: 100;
  --z-index-overlay: 40;
  --z-index-sp-menu: 30;
  --z-index-header: 10;
  --z-index-page-top: 5;
  --z-index-following-banner: 5;
}

:root {
  --clip-triangle-top: polygon(50% 0, 100% 100%, 0 100%);
  --clip-triangle-bottom: polygon(0 0, 100% 0, 50% 100%);
  --clip-triangle-right: polygon(0 0, 100% 50%, 0 100%);
  --clip-triangle-left: polygon(0 50%, 100% 0, 100% 100%);
  --clip-triangle-lower-left: polygon(0 0, 100% 100%, 0 100%);
  --clip-triangle-upper-left: polygon(0 0, 100% 0, 0 100%);
  --clip-triangle-lower-right: polygon(100% 0, 100% 100%, 0 100%);
  --clip-triangle-upper-right: polygon(0 0, 100% 0, 100% 100%);
}

:root {
  --rounded-xxs: 2px;
  --rounded-xs: 4px;
  --rounded-sm: 8px;
  --rounded-md: 12px;
  --rounded-lg: 15px;
  --rounded-xl: 20px;
  --rounded-xxl: 30px;
  --rounded-full: 99rem;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(body, h1, h2, h3, h4, p, ul, ol, figure, blockquote, dl, dd) {
  margin: 0;
}

:where(ul, ol) {
  padding: 0;
  list-style: "";
}

:where(img) {
  max-width: 100%;
  display: block;
  width: 100%;
  height: auto;
}

:where(a) {
  text-decoration: none;
  color: inherit;
}

:where(button) {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
  touch-action: manipulation;
}

:where([type=text], [type=email], [type=tel], select, textarea) {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  width: 100%;
  background-color: var(--c-base);
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding: 0;
}

:where(textarea) {
  resize: none;
  field-sizing: content;
}

:where(:-moz-any-link,
button,
[type=button],
[type=reset],
[type=submit],
label[for],
select,
summary,
[role=tab],
[role=button]) {
  cursor: pointer;
}

:where(:any-link,
button,
[type=button],
[type=reset],
[type=submit],
label[for],
select,
summary,
[role=tab],
[role=button]) {
  cursor: pointer;
}

:where(a) {
  transition: opacity 0.3s;
  cursor: pointer;
}

@media (hover: hover) {
  :where(a):hover {
    opacity: 0.7;
  }
}
:focus:not(:focus-visible) {
  outline: none;
}

body {
  font-family: var(--base-font);
  font-size: 16px;
  color: var(--c-text);
  background-color: var(--c-base);
  letter-spacing: 0.1em;
  line-height: 1.5;
}

.c-section-title {
  width: -moz-fit-content;
  width: fit-content;
}

.c-section-title span {
  display: inline-block;
  font-family: var(--second-font);
  font-style: italic;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 0;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--c-primary);
  position: relative;
}
@media screen and (min-width: 768px) {
  .c-section-title span {
    font-size: 100px;
  }
}

.c-section-title span::before {
  content: "";
  width: 100vw;
  height: 2px;
  background-color: currentColor;
  position: absolute;
  bottom: 0.35em;
  right: -0.05em;
}

.c-section-title--reverse {
  margin-left: auto;
}

.c-section-title--reverse span::before {
  right: auto;
  left: -0.05em;
}

.c-section-title--white span {
  color: var(--c-text-white);
}

.c-section-sub-title {
  font-family: var(--second-font);
  font-style: italic;
  font-weight: 300;
  font-size: 32px;
  line-height: 1.2;
  color: var(--c-primary);
  letter-spacing: 0;
}
@media screen and (min-width: 768px) {
  .c-section-sub-title {
    font-size: 40px;
  }
}

.c-text-list {
  position: relative;
  padding-left: 1em;
}

.c-text-list::before {
  --_size: 4px;
  content: "";
  width: var(--_size);
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: var(--rounded-full);
  position: absolute;
  top: calc((1lh - var(--_size)) / 2);
  left: 0;
}

.c-tag {
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  color: var(--c-text-white);
  background-color: var(--c-primary);
  min-width: 69px;
  text-align: center;
  line-height: 1.2;
  padding: 2px 5px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .c-tag {
    font-size: 14px;
    min-width: 80px;
    padding: 1px 5px;
  }
}

.c-date {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .c-date {
    font-size: 14px;
  }
}

.c-circle-arrow {
  display: inline-block;
  width: 15px;
  aspect-ratio: 1;
  border: 1px solid var(--c-primary);
  border-radius: var(--rounded-full);
  position: relative;
  transition: color 0.3s, background-color 0.3s;
}
@media screen and (min-width: 768px) {
  .c-circle-arrow {
    width: 30px;
  }
}

.c-circle-arrow::before {
  content: "";
  width: 9px;
  aspect-ratio: 8/4;
  background-color: currentColor;
  -webkit-mask-image: url(/img/common/icon_arrow_small.svg);
          mask-image: url(/img/common/icon_arrow_small.svg);
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .c-circle-arrow::before {
    width: 16px;
    -webkit-mask-image: url(/img/common/icon_arrow.svg);
            mask-image: url(/img/common/icon_arrow.svg);
    top: calc(50% - 1px);
  }
}

.c-shadow-item {
  --_rounded: var(--rounded-xxl);
  --_position: 10px;
  margin: 0 var(--_position) var(--_position) 0;
  position: relative;
}
@media screen and (min-width: 768px) {
  .c-shadow-item {
    --_position: 10px;
  }
}

.c-shadow-item::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--c-primary);
  position: absolute;
  top: var(--_position);
  left: var(--_position);
  z-index: -1;
  border-radius: var(--_rounded) 0 var(--_rounded) 0;
}

.c-shadow-item img {
  border-radius: var(--_rounded) 0 var(--_rounded) 0;
}

.c-button-arrow {
  display: block;
  border: 1px solid currentColor;
  color: var(--c-primary);
  border-radius: var(--rounded-full);
  text-align: center;
  padding: 6px 15px 4px 10px;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

@media (any-hover: hover) {
  .c-button-arrow:hover {
    opacity: 1;
    color: var(--c-text-white);
    background-color: var(--c-primary);
    border-color: var(--c-primary);
  }
  .c-button-arrow:hover span::before {
    transform: translate(3px, -50%);
  }
  .c-button-arrow--reverse:hover span::before {
    transform: translate(-3px, -50%) scale(-1, 1);
  }
}
.c-button-arrow span {
  --_x: 40px;
  display: inline-block;
  font-family: var(--second-font);
  font-style: italic;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: uppercase;
  padding-right: var(--_x);
  position: relative;
}

.c-button-arrow span::before {
  content: "";
  width: 29px;
  aspect-ratio: 29/6;
  background-color: currentColor;
  -webkit-mask-image: url(/img/common/icon_arrow_long.svg);
          mask-image: url(/img/common/icon_arrow_long.svg);
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  transform: translate(0, -50%);
  transition: transform 0.3s;
}

.c-button-arrow--reverse span {
  padding-right: 0;
  padding-left: var(--_x);
}

.c-button-arrow--reverse span::before {
  right: auto;
  left: 0;
  transform: translate(0, -50%) scale(-1, 1);
}

.c-button-arrow--text-right span {
  transform: translateX(10px);
}

.c-button-arrow--text-left span {
  transform: translateX(-10px);
}

.c-button-arrow--small {
  padding: 0.1563em 10px;
}

.c-button-arrow--small span {
  --_x: 36px;
  font-size: 16px;
  padding-right: var(--_x);
}

.c-button-arrow--small span::before {
  width: 19px;
  aspect-ratio: 19/7;
  -webkit-mask-image: url(/img/common/icon_arrow.svg);
          mask-image: url(/img/common/icon_arrow.svg);
}

.c-button-arrow--small.c-button-arrow--reverse span {
  padding-right: 0;
  padding-left: var(--_x);
}

.c-news-item {
  border-bottom: 1px solid var(--c-base);
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .c-news-item {
    padding-bottom: 20px;
  }
}

.c-news-item__link {
  display: grid;
  grid-template: "date . tag . ." "title title title . icon"/auto 10px 1fr 10px auto;
  row-gap: 8px;
}
@media screen and (min-width: 768px) {
  .c-news-item__link {
    grid-template: "date . tag . title . icon"/auto 5px auto 20px 1fr 20px auto;
    align-items: center;
  }
}

@media (any-hover: hover) {
  .c-news-item__link:hover {
    opacity: 1;
  }
  .c-news-item__link:hover .c-news-item__title span {
    background-size: 100% 1px;
  }
  .c-news-item__link:hover .c-news-item__arrow span {
    color: var(--c-base);
    background-color: var(--c-primary);
  }
}
.c-news-item__date {
  grid-area: date;
}

.c-news-item__tag {
  grid-area: tag;
  justify-self: start;
}

.c-news-item__title {
  grid-area: title;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .c-news-item__title {
    -webkit-line-clamp: 2;
  }
}

.c-news-item__title span {
  font-weight: 700;
  background-image: linear-gradient(90deg, currentColor, currentColor);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0 1px;
  transition: background-size 0.6s;
}
@media screen and (min-width: 768px) {
  .c-news-item__title span {
    line-height: 1.75;
  }
}

.c-news-item__arrow {
  grid-area: icon;
  align-self: end;
}
@media screen and (min-width: 768px) {
  .c-news-item__arrow {
    align-self: center;
  }
}

.c-lang-switch {
  --_theme-color: var(--c-base);
  --_theme-font-color: #b3b3b3;
  display: flex;
}

.c-lang-switch__link {
  display: inline-block;
  font-family: var(--second-font);
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--_theme-font-color);
  padding: 10px;
}

.c-lang-switch__link.is-active {
  color: var(--_theme-color);
}

.c-lang-switch__link:nth-of-type(2) {
  position: relative;
}

.c-lang-switch__link:nth-of-type(2)::before {
  content: "";
  width: 1px;
  height: 1em;
  background-color: var(--_theme-color);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.c-lang-switch--primary {
  --_theme-color: var(--c-primary);
}

.c-lang-switch--white {
  --_theme-font-color: var(--c-text-white);
}

.c-hamburger {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: relative;
}

.c-hamburger__line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  background-color: transparent;
}

.c-hamburger__line::before,
.c-hamburger__line::after {
  --_x: 5px;
  --_y: 3px;
  position: absolute;
  display: block;
  height: 100%;
  background-color: var(--c-base);
  content: "";
  transition: transform 0.3s, top 0.3s;
}

.c-hamburger__line::before {
  width: 30px;
  left: var(--_x);
}

.c-hamburger__line::after {
  width: 20px;
  right: var(--_x);
}

.c-hamburger__line::before {
  top: calc(-1 * var(--_y));
}

.c-hamburger__line::after {
  top: var(--_y);
}

.c-hamburger--primary .c-hamburger__line::before,
.c-hamburger--primary .c-hamburger__line::after {
  background-color: var(--c-primary);
}

.c-hamburger[aria-expanded=true] .c-hamburger__line {
  background-color: transparent;
}

.c-hamburger[aria-expanded=true] .c-hamburger__line::before,
.c-hamburger[aria-expanded=true] .c-hamburger__line::after {
  width: 30px;
  top: 0;
}

.c-hamburger[aria-expanded=true] .c-hamburger__line::before {
  transform: rotate(40deg);
}

.c-hamburger[aria-expanded=true] .c-hamburger__line::after {
  transform: rotate(-40deg);
}

.c-tab__content[aria-hidden=true] {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.c-card-member {
  display: grid;
  color: var(--c-primary);
  text-align: center;
}

.c-card-member__role {
  margin-top: 20px;
}

.c-card-member__name {
  margin-top: 5px;
  font-size: 22px;
  font-weight: 700;
}

.c-card-member__img {
  order: -1;
}

.c-card-member__img img {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 240/300;
}

.l-inner {
  width: min(var(--sp-max-width), 100%);
  padding: 0 var(--padding-sp);
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    width: min(var(--inner) + var(--padding-pc) * 2, 100%);
    padding: 0 var(--padding-pc);
  }
}

@media screen and (min-width: 768px) {
  .l-inner--s {
    width: min(var(--inner-s) + var(--padding-pc) * 2, 100%);
  }
}

.l-header {
  background-image: url(/img/common/bg_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--z-index-header);
}
@media screen and (min-width: 768px) {
  .l-header {
    background-image: url(/img/common/bg_header_pc.jpg);
    height: 80px;
  }
}

.l-header__inner {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 20px;
}
@media screen and (min-width: 768px) {
  .l-header__inner {
    padding: 0 30px 0 min(100px, 8.4033613445vw);
  }
}

.l-header__logo {
  width: 178px;
}
@media screen and (min-width: 768px) {
  .l-header__logo {
    width: 286px;
  }
}

.l-header__control {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media screen and (min-width: 768px) {
  .l-header__control {
    position: absolute;
    top: 20px;
    right: 32px;
    -moz-column-gap: 35px;
         column-gap: 35px;
  }
}

.l-header[data-following-header] {
  transform: translateY(calc(-100% - 1px));
  transition: transform 0.3s;
}

.l-header[data-following-header].is-active {
  transform: translateY(0);
}

.l-footer {
  padding: 40px 0 0 0;
  color: var(--c-text-white);
  background-color: var(--c-primary);
}
@media screen and (min-width: 768px) {
  .l-footer {
    padding: 38px 0;
  }
}

.l-footer__inner {
  display: grid;
  row-gap: 40px;
}
@media screen and (min-width: 768px) {
  .l-footer__inner {
    width: min(1240px + var(--padding-pc) * 2, 100%);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    -moz-column-gap: 1em;
         column-gap: 1em;
    row-gap: 25px;
  }
}

@media screen and (min-width: 768px) {
  .l-footer__nav {
    justify-self: end;
  }
}

.l-footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 2em;
       column-gap: 2em;
  row-gap: 5px;
}
@media screen and (min-width: 768px) {
  .l-footer__nav-list {
    -moz-column-gap: 3em;
         column-gap: 3em;
    justify-content: start;
  }
}

.l-footer__nav-item a {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 768px) {
  .l-footer__nav-item a {
    letter-spacing: 0.1em;
  }
}

.l-footer__copy {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 11px;
}
@media screen and (min-width: 768px) {
  .l-footer__copy {
    order: -1;
    font-size: 14px;
    padding: 0;
  }
}

.l-wrapper {
  overflow-x: clip;
}

.p-global-menu {
  width: 300px;
  background-color: var(--c-primary);
  color: var(--c-text-white);
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100svh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: var(--z-index-modal);
  transform: translateX(calc(100% + 1px));
  transition: transform 0.5s cubic-bezier(0.52, 0.08, 0.18, 1);
}
@media screen and (min-width: 768px) {
  .p-global-menu {
    min-height: 100svh;
    width: 640px;
  }
}

.p-global-menu__header {
  padding: 15px 10px;
}
@media screen and (min-width: 768px) {
  .p-global-menu__header {
    padding: 0 30px;
    height: 80px;
    display: grid;
    justify-content: end;
  }
}

.p-global-menu__control {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media screen and (min-width: 768px) {
  .p-global-menu__control {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}

.p-global-menu__body {
  padding: 20px;
  display: grid;
  row-gap: 20px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@media screen and (min-width: 768px) {
  .p-global-menu__body {
    padding: 80px 50px 50px 80px;
    row-gap: 50px;
  }
}

.p-global-menu__body::-webkit-scrollbar {
  display: none;
}

.p-global-menu__logo {
  width: 140px;
  align-self: flex-end;
  justify-self: flex-end;
}
@media screen and (min-width: 768px) {
  .p-global-menu__logo {
    width: 260px;
  }
}

.p-global-menu__nav {
  order: -1;
}

.p-global-menu__nav-cols {
  display: grid;
  row-gap: 15px;
}
@media screen and (min-width: 768px) {
  .p-global-menu__nav-cols {
    display: flex;
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
}

.p-global-menu__nav-list {
  display: grid;
  row-gap: 15px;
}
@media screen and (min-width: 768px) {
  .p-global-menu__nav-list {
    row-gap: 30px;
  }
}

.p-global-menu__nav-item a {
  display: block;
  font-family: var(--second-font);
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0;
}
@media screen and (min-width: 768px) {
  .p-global-menu__nav-item a {
    display: inline-block;
    font-size: 30px;
  }
}

.p-global-menu__sub-list {
  margin-top: 20px;
  display: grid;
  row-gap: 10px;
}
@media screen and (min-width: 768px) {
  .p-global-menu__sub-list {
    margin-top: 50px;
    row-gap: 20px;
  }
}

.p-global-menu__sub-item a {
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .p-global-menu__sub-item a {
    font-size: 14px;
  }
}

.p-global-menu__overlay {
  position: fixed;
  inset: 0;
  z-index: var(--z-index-overlay);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.52, 0.08, 0.18, 1);
}

.p-global-menu[aria-hidden=false] {
  transform: translateX(0);
}

body.is-drawerActive .p-global-menu__overlay {
  visibility: visible;
  opacity: 1;
}

.p-index-about {
  padding-top: 70px;
  background-color: var(--c-base);
}
@media screen and (min-width: 768px) {
  .p-index-about {
    padding-top: 85px;
  }
}

.p-index-about__body {
  margin-top: 25px;
}
@media screen and (min-width: 768px) {
  .p-index-about__body {
    margin: 70px auto 0;
    width: min(706px, 100%);
  }
}

.p-index-about__lead {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--c-primary);
  width: 106%;
}
@media screen and (min-width: 768px) {
  .p-index-about__lead {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.1em;
    width: 100%;
  }
}

.p-index-about__text {
  margin-top: 36px;
  line-height: 1.867;
}
@media screen and (min-width: 768px) {
  .p-index-about__text {
    margin-top: 42px;
    font-size: 18px;
    line-height: 1.75em;
  }
}

.p-index-contact {
  color: var(--c-text-white);
  background-color: var(--c-primary);
  text-align: center;
  padding: 70px 0 50px;
  position: relative;
}

.p-index-contact::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--c-primary);
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  right: 0;
}

.p-index-contact__inner {
  padding: 0 36px;
}
@media screen and (min-width: 1024px) {
  .p-index-contact__inner {
    padding: 0 var(--padding-pc);
  }
}

.p-index-contact__cols {
  margin-top: 60px;
  display: grid;
  row-gap: 50px;
}
@media screen and (min-width: 1024px) {
  .p-index-contact__cols {
    grid-template-columns: 1fr 1fr;
  }
}

.p-index-contact__col {
  padding-bottom: 55px;
  border-bottom: 1px solid var(--c-base);
}
@media screen and (min-width: 1024px) {
  .p-index-contact__col {
    border-bottom: none;
  }
}

@media screen and (min-width: 1024px) {
  .p-index-contact__col:nth-of-type(1) {
    padding: 5px min(140px, 11.7647058824vw) 18px min(92px, 7.731092437vw);
  }
}

@media screen and (min-width: 1024px) {
  .p-index-contact__col:nth-of-type(2) {
    border-left: 2px solid var(--c-base);
    padding: 5px min(50px, 4.2016806723vw) 18px min(100px, 8.4033613445vw);
  }
}

.p-index-contact__sub-title {
  font-family: var(--second-font);
  font-size: 26px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0;
}
@media screen and (min-width: 768px) {
  .p-index-contact__sub-title {
    font-size: 40px;
  }
}

.p-index-contact__texts {
  margin-top: 12px;
}
@media screen and (min-width: 1024px) {
  .p-index-contact__texts {
    margin-top: 22px;
  }
}

.p-index-contact__text {
  font-weight: 700;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .p-index-contact__text {
    line-height: 1.75;
  }
}

.p-index-contact__text a {
  -webkit-text-decoration: revert;
          text-decoration: revert;
}

@media screen and (min-width: 768px) {
  .p-index-contact__text + .p-index-contact__text {
    margin-top: 30px;
  }
}

.p-index-contact__text--mt {
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .p-index-contact__text + .p-index-contact__text--mt {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .p-index-contact__text span {
    font-size: 14px;
  }
}

.p-index-office {
  padding: 70px 0 80px;
  background-color: var(--c-base);
}
@media screen and (min-width: 768px) {
  .p-index-office {
    padding: 90px 0 100px;
  }
}

.p-index-office__lead {
  margin-top: 34px;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  .p-index-office__lead {
    margin-top: 50px;
    font-size: 18px;
    max-width: 605px;
  }
}

.p-index-office__list {
  margin-top: 46px;
  border-top: 1px solid var(--c-primary);
}
@media screen and (min-width: 768px) {
  .p-index-office__list {
    margin-top: 74px;
    width: min(708px, 100%);
  }
}

.p-index-office__item {
  border-bottom: 1px solid var(--c-primary);
  display: grid;
  row-gap: 5px;
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .p-index-office__item {
    grid-template-columns: 250fr 458fr;
    -moz-column-gap: 1em;
         column-gap: 1em;
    padding: 32px 0;
  }
}

.p-index-office__label {
  font-weight: 700;
}

.p-index-office__text {
  letter-spacing: 0.07em;
  line-height: 1.5313;
}
@media screen and (min-width: 768px) {
  .p-index-office__text {
    line-height: 1.75;
  }
}

.p-index-news {
  background-color: #dde8ff;
  padding: 120px 0 80px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-index-news {
    padding: 190px 0 100px;
  }
}

.p-index-news::before {
  content: "";
  width: 100%;
  height: 85px;
  background-color: var(--c-base);
  -webkit-clip-path: var(--clip-triangle-upper-right);
          clip-path: var(--clip-triangle-upper-right);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
@media screen and (min-width: 768px) {
  .p-index-news::before {
    height: 200px;
  }
}

.p-index-news__inner {
  padding: 0 15px;
  display: grid;
  grid-template: "title" auto "." 40px "list" auto "." 50px "button" auto/1fr;
}
@media screen and (min-width: 1024px) {
  .p-index-news__inner {
    width: min(1240px + var(--padding-pc) * 2, 100%);
    padding: 0 var(--padding-pc) 0 75px;
    grid-template: "title . ." 80px "title . button" auto ". . ." 40px ". . list" auto/auto 52px 1fr;
  }
}

.p-index-news__title {
  grid-area: title;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .p-index-news__title {
    padding-left: 0;
  }
}

.p-index-news__list {
  grid-area: list;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px 20px;
  display: grid;
  row-gap: 18px;
}
@media screen and (min-width: 768px) {
  .p-index-news__list {
    padding: 58px 60px;
    row-gap: 20px;
  }
}

.p-index-news__button {
  grid-area: button;
  justify-self: center;
  width: min(190px, 100%);
}
@media screen and (min-width: 768px) {
  .p-index-news__button {
    justify-self: end;
  }
}

.p-index-strategy {
  background-image: url(/img/index/bg_strategy.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0 52px;
  background-color: var(--c-base);
}
@media screen and (min-width: 768px) {
  .p-index-strategy {
    background-image: url(/img/index/bg_strategy_pc.png);
    padding: 190px 0 125px;
  }
}

.p-index-strategy__list {
  margin-top: 65px;
  display: grid;
  row-gap: 40px;
}

.p-index-strategy__item {
  padding-bottom: 38px;
}
@media screen and (min-width: 768px) {
  .p-index-strategy__item {
    display: grid;
    grid-template: "number . header . ." 18px "number . header . body" auto ". . . . body" 1fr/auto 42fr 328fr 94fr 639fr;
  }
}

.p-index-strategy__item:not(:last-of-type) {
  border-bottom: 1px solid var(--c-base);
}

.p-index-strategy__number {
  display: block;
  text-align: center;
  font-family: var(--second-font);
  font-weight: 500;
  letter-spacing: 0;
  color: var(--c-text-white);
}
@media screen and (min-width: 768px) {
  .p-index-strategy__number {
    padding-top: 5px;
    font-size: 14px;
    grid-area: number;
    align-self: center;
  }
}

.p-index-strategy__header {
  margin-top: 3px;
  font-size: 20px;
  font-weight: 700;
  color: var(--c-text-white);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-index-strategy__header {
    grid-area: header;
    text-align: left;
    align-self: center;
  }
}

.p-index-strategy__body {
  margin-top: 18px;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  .p-index-strategy__body {
    margin-top: 0;
    grid-area: body;
  }
}

.p-index-mission {
  padding-top: 160px;
  background-color: var(--c-base);
}
@media screen and (min-width: 768px) {
  .p-index-mission {
    padding-top: 105px;
  }
}

.p-index-mission__lead {
  margin-top: 60px;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  .p-index-mission__lead {
    margin: 40px 0 0 auto;
    font-size: 18px;
    max-width: 620px;
  }
}

.p-index-mission__list {
  margin-top: 42px;
}
@media screen and (min-width: 768px) {
  .p-index-mission__list {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.p-index-mission__ltem {
  display: grid;
  padding: 55px 0;
  border-top: 1px solid var(--c-primary);
}
@media screen and (min-width: 768px) {
  .p-index-mission__ltem {
    border-top: none;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    padding: 0 min(35px, 2.9411764706vw) 25px;
  }
}

@media screen and (min-width: 768px) {
  .p-index-mission__ltem:first-of-type {
    border-right: 1px solid var(--c-primary);
  }
}

.p-index-mission__ltem:last-of-type {
  padding-bottom: 0;
}
@media screen and (min-width: 768px) {
  .p-index-mission__ltem:last-of-type {
    border-left: 1px solid var(--c-primary);
  }
}

.p-index-mission__number {
  font-family: var(--second-font);
  text-align: center;
  color: var(--c-primary);
}

.p-index-mission__number span {
  display: block;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .p-index-mission__number span {
    font-size: 30px;
  }
}

.p-index-mission__number em {
  font-size: 60px;
  font-weight: 300;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .p-index-mission__number em {
    font-size: 100px;
  }
}

.p-index-mission__title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 1.75;
  color: var(--c-primary);
}
@media screen and (min-width: 768px) {
  .p-index-mission__title {
    margin-top: 15px;
    line-height: 1.5;
    align-self: center;
  }
}

.p-index-mission__texts {
  margin-top: 35px;
  order: 1;
  line-height: 1.75;
  display: grid;
  row-gap: 1em;
}
@media screen and (min-width: 768px) {
  .p-index-mission__texts {
    margin-top: 40px;
  }
}

.p-index-mission__icon {
  margin: 25px auto 0;
  width: 76px;
}
@media screen and (min-width: 768px) {
  .p-index-mission__icon {
    margin: 30px auto 0;
  }
}

.p-index-message {
  padding: 150px 0 100px;
  position: relative;
  background-color: var(--c-base);
}
@media screen and (min-width: 768px) {
  .p-index-message {
    padding: 185px 0 365px;
  }
}

.p-index-message__inner {
  position: relative;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .p-index-message__inner {
    width: min(940px + var(--padding-pc) * 2, 100%);
  }
}

@media screen and (min-width: 1310px) {
  .p-index-message__title {
    transform: translateX(min(95px, 6.5972222222vw));
  }
}

.p-index-message__cols {
  margin-top: 55px;
  display: grid;
  row-gap: 45px;
}
@media screen and (min-width: 768px) {
  .p-index-message__cols {
    grid-template-columns: 590fr 240px;
    align-items: flex-start;
    -moz-column-gap: min(95px, 9.595959596vw);
         column-gap: min(95px, 9.595959596vw);
  }
}

.p-index-message__body {
  color: var(--c-text-white);
}

.p-index-message__lead {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-index-message__lead {
    font-size: 26px;
    text-align: left;
  }
}

.p-index-message__text {
  margin-top: 30px;
  text-align: justify;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  .p-index-message__text {
    padding-right: 12px;
  }
}

.p-index-message__sign {
  margin-top: 35px;
  text-align: right;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  .p-index-message__sign {
    margin-top: 25px;
  }
}

.p-index-message__sign span {
  display: block;
  font-size: 22px;
  font-weight: 700;
}

.p-index-message__img {
  order: -1;
  margin-inline: auto;
  width: 240px;
}
@media screen and (min-width: 768px) {
  .p-index-message__img {
    order: initial;
    width: 100%;
  }
}

.p-index-message__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 calc(100% - 20.2564102564vw));
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 calc(100% - 20.2564102564vw));
  mix-blend-mode: multiply;
}

.p-index-message__bg img {
  width: 100%;
  height: 100%;
}

.p-index-message__foot {
  position: absolute;
  bottom: -87px;
  width: 100%;
  height: 300px;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .p-index-message__foot {
    height: 470px;
    bottom: -120px;
  }
}

.p-index-message__foot img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.p-index-mv {
  height: 100svh;
  min-height: 500px;
  position: relative;
}

.p-index-mv__inner {
  height: inherit;
  position: relative;
  z-index: 1;
}

.p-index-mv__cols {
  display: flex;
  justify-content: space-between;
  padding: 12px 15px 12px 20px;
}
@media screen and (min-width: 768px) {
  .p-index-mv__cols {
    display: contents;
  }
}

.p-index-mv__logo {
  width: 155px;
}
@media screen and (min-width: 768px) {
  .p-index-mv__logo {
    width: 260px;
    position: absolute;
    top: min(90px, 7.5630252101vw);
    left: min(100px, 8.4033613445vw);
  }
}

.p-index-mv__control {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media screen and (min-width: 768px) {
  .p-index-mv__control {
    position: absolute;
    top: 20px;
    right: 32px;
    -moz-column-gap: 35px;
         column-gap: 35px;
  }
}

.p-index-mv__texts {
  font-family: var(--second-font);
  color: var(--c-text-white);
  letter-spacing: 0;
  position: absolute;
  bottom: -20px;
}
@media screen and (min-width: 768px) {
  .p-index-mv__texts {
    bottom: min(-32px, -2.7826086957vw);
    padding-left: 10px;
  }
}

.p-index-mv__sub-text {
  font-weight: 300;
  font-size: 14px;
  padding: 0 0 15px 20px;
}
@media screen and (min-width: 768px) {
  .p-index-mv__sub-text {
    font-size: max(24px, 1.6666666667vw);
    padding: 0 0 min(78px, 6.5546218487vw) min(90px, 7.5630252101vw);
  }
}

.p-index-mv__main-text {
  font-style: italic;
  font-weight: 600;
  font-size: 82px;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .p-index-mv__main-text {
    font-size: max(125px, 8.6805555556vw);
  }
}

.p-index-mv__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}

.p-index-mv__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .p-index-mv__bg img {
    -o-object-position: right;
       object-position: right;
  }
}

.p-index-approach {
  background-color: var(--c-base);
}

.p-index-approach__bg {
  background-color: var(--c-primary);
  color: var(--c-text-white);
  padding: 70px 0 130px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 80px), 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 80px), 0% 100%);
}
@media screen and (min-width: 768px) {
  .p-index-approach__bg {
    padding: 85px 0 300px;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 200px), 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 200px), 0% 100%);
  }
}

.p-index-approach__inner {
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .p-index-approach__inner {
    padding: 0 var(--padding-pc);
  }
}

.p-index-approach__title {
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .p-index-approach__title {
    padding-left: 0;
  }
}

.p-index-approach__lead {
  margin-top: 20px;
  display: grid;
  row-gap: 1.5em;
  line-height: 1.75;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .p-index-approach__lead {
    margin: 50px 0 0 auto;
    font-size: 18px;
    max-width: 750px;
    padding: 0;
  }
}

.p-index-approach__items {
  margin-top: 70px;
  display: grid;
  row-gap: 50px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-index-approach__items {
    margin-top: 90px;
    row-gap: 40px;
  }
}

.p-index-approach__items::before {
  content: "";
  width: 323px;
  aspect-ratio: 323/300;
  background-image: url(/img/index/bg_approach.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -325px;
  left: -20px;
}
@media screen and (min-width: 768px) {
  .p-index-approach__items::before {
    width: min(685px, 57.5630252101vw);
    top: auto;
    left: auto;
    bottom: -65px;
    right: -200px;
  }
}

.p-index-approach__item {
  background-color: var(--c-base);
  color: var(--c-text);
  padding: 45px 20px 40px;
  border-radius: var(--rounded-xxl) 0 var(--rounded-xxl) 0;
}
@media screen and (min-width: 768px) {
  .p-index-approach__item {
    padding: 45px 40px 40px;
  }
}

.p-index-approach__item-header {
  padding-bottom: 32px;
  border-bottom: 1px solid var(--c-primary);
}
@media screen and (min-width: 768px) {
  .p-index-approach__item-header {
    padding-bottom: 25px;
  }
}

.p-index-approach__item-title {
  font-family: var(--second-font);
  font-style: italic;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1;
  text-transform: uppercase;
  color: var(--c-primary);
  display: grid;
  justify-items: center;
  row-gap: 20px;
}
@media screen and (min-width: 768px) {
  .p-index-approach__item-title {
    font-size: 60px;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: flex-start;
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}

.p-index-approach__item-title::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.p-index-approach__item--business .p-index-approach__item-title::before {
  width: 60px;
  aspect-ratio: 60/35;
  background-image: url(/img/index/icon_business.svg);
}
@media screen and (min-width: 768px) {
  .p-index-approach__item--business .p-index-approach__item-title::before {
    width: 80px;
    transform: translateY(-2px);
  }
}

.p-index-approach__item--sustainability .p-index-approach__item-title::before {
  width: 59px;
  aspect-ratio: 59/56;
  background-image: url(/img/index/icon_sustainability.svg);
}
@media screen and (min-width: 768px) {
  .p-index-approach__item--sustainability .p-index-approach__item-title::before {
    width: 70px;
    transform: translateY(-8px);
  }
}

.p-index-approach__item--dx .p-index-approach__item-title::before {
  width: 46px;
  aspect-ratio: 46/56;
  background-image: url(/img/index/icon_dx.svg);
}
@media screen and (min-width: 768px) {
  .p-index-approach__item--dx .p-index-approach__item-title::before {
    width: 58px;
    transform: translateY(-10px);
  }
}

.p-index-approach__item--ir .p-index-approach__item-title::before {
  width: 40px;
  aspect-ratio: 40/48;
  background-image: url(/img/index/icon_ir.svg);
}
@media screen and (min-width: 768px) {
  .p-index-approach__item--ir .p-index-approach__item-title::before {
    width: 50px;
    transform: translateY(-8px);
  }
}

.p-index-approach__item--hr .p-index-approach__item-title::before {
  width: 40px;
  aspect-ratio: 40/48;
  background-image: url(/img/index/icon_hr.svg);
}
@media screen and (min-width: 768px) {
  .p-index-approach__item--hr .p-index-approach__item-title::before {
    width: 50px;
    transform: translateY(-8px);
  }
}

.p-index-approach__item-lead {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.75;
}

.p-index-approach__item-body {
  padding-top: 32px;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  .p-index-approach__item-body {
    padding-top: 25px;
  }
}

.p-index-approach__item-link {
  margin-top: 25px;
}
@media screen and (min-width: 768px) {
  .p-index-approach__item-link {
    margin-top: 30px;
  }
}

.p-index-approach__item-link a {
  display: inline-block;
  font-weight: 700;
  -webkit-text-decoration: revert;
          text-decoration: revert;
}

.p-index-approach__cols {
  display: grid;
  row-gap: 50px;
}
@media screen and (min-width: 768px) {
  .p-index-approach__cols {
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}

.p-index-approach__list {
  display: grid;
  row-gap: 1em;
}

@media screen and (min-width: 768px) {
  .p-index-approach__list-item {
    display: grid;
    grid-template-columns: 90px 1fr;
  }
}

.p-index-bg {
  height: 200px;
}
@media screen and (min-width: 768px) {
  .p-index-bg {
    height: 400px;
  }
}

.p-index-bg::before {
  content: "";
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(/img/index/pic_mount_fuji.jpg);
  background-position-x: center;
}
@media screen and (min-width: 768px) {
  .p-index-bg::before {
    background-image: url(/img/index/pic_mount_fuji_pc.jpg);
  }
}

.p-index-team {
  background-color: var(--c-base);
  padding: 45px 0;
}
@media screen and (min-width: 768px) {
  .p-index-team {
    padding: 0 0 15px;
  }
}

.p-index-team__container {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .p-index-team__container {
    margin-top: 75px;
    display: grid;
    grid-template: "tabs body" auto ". body" 40px "button body" minmax(0, 1fr)/min(320px, 26.8907563025vw) minmax(0, 1fr);
    -moz-column-gap: min(200px, 16.8067226891vw);
         column-gap: min(200px, 16.8067226891vw);
  }
}

.p-index-team__labels {
  padding: 0 15px;
  display: grid;
  row-gap: 8px;
}
@media screen and (min-width: 768px) {
  .p-index-team__labels {
    grid-area: tabs;
    padding: 0;
  }
}

.p-index-team__tab {
  font-family: var(--second-font);
  font-style: italic;
  font-weight: 300;
  font-size: 22px;
  color: #999;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .p-index-team__tab {
    font-size: 26px;
  }
}

.p-index-team__tab[aria-selected=true] {
  color: var(--c-primary);
  position: relative;
}

.p-index-team__tab[aria-selected=true]::before {
  content: "";
  width: 9px;
  aspect-ratio: 9/11;
  background-color: currentColor;
  -webkit-clip-path: var(--clip-triangle-right);
          clip-path: var(--clip-triangle-right);
  position: absolute;
  top: 0.4em;
  left: -16px;
}

.p-index-team__body {
  margin: 45px calc(50% - 50vw) 0;
}
@media screen and (min-width: 768px) {
  .p-index-team__body {
    grid-area: body;
    margin: 0 calc(50% - 50vw) 0 0;
    width: 100vw;
  }
}

.p-index-team__carousel {
  position: relative;
}

.p-index-team__carousel-slide {
  width: 250px;
}

.p-index-team__carousel-prev,
.p-index-team__carousel-next {
  --_x: calc(50% - 158px);
  top: 155px;
  width: auto;
  height: auto;
}

.p-index-team__carousel-prev {
  left: var(--_x);
}
@media screen and (min-width: 768px) {
  .p-index-team__carousel-prev {
    display: none;
  }
}

.p-index-team__carousel-next {
  right: var(--_x);
}
@media screen and (min-width: 768px) {
  .p-index-team__carousel-next {
    right: auto;
    top: 50%;
    left: -80px;
    transform: translateY(calc(-50% - 10px)) scale(-1, 1);
  }
}

.p-index-team__carousel-prev img,
.p-index-team__carousel-next img {
  width: 24px;
  aspect-ratio: 24/53;
}
@media screen and (min-width: 768px) {
  .p-index-team__carousel-prev img,
  .p-index-team__carousel-next img {
    width: 38px;
    aspect-ratio: 38/90;
  }
}

.p-index-team__button {
  margin: 45px auto 0;
  width: 190px;
}
@media screen and (min-width: 768px) {
  .p-index-team__button {
    margin: 0;
    grid-area: button;
  }
}

.u-hidden {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
  visibility: hidden;
  opacity: 0;
  outline: none;
  overflow: hidden;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: revert;
  }
}

.u-di {
  display: inline;
}

.u-db {
  display: block;
}

.u-dib {
  display: inline-block;
}

.u-font-en {
  font-family: var(--second-font);
}

.u-font-bold {
  font-weight: 700;
}

.u-font-semibold {
  font-weight: 600;
}

.u-font-medium {
  font-weight: 500;
}

.u-tracking-widest {
  letter-spacing: 0.1em;
}

.u-tracking-wider {
  letter-spacing: 0.05em;
}

.u-tracking-wide {
  letter-spacing: 0.02em;
}

.u-leading-loose {
  line-height: 2;
}

.u-leading-relaxed {
  line-height: 1.7;
}

.u-leading-none {
  line-height: 1;
}

.u-text-primary {
  color: var(--c-primary);
}

.u-text-accent {
  color: var(--c-accent);
}

.u-palt {
  font-feature-settings: "palt";
}