@use "../global" as *;

.c-circle-arrow {
  display: inline-block;
  width: 15px;
  aspect-ratio: 1;
  border: 1px solid var(--c-primary);
  border-radius: var(--rounded-full);
  position: relative;
  transition: color 0.3s, background-color 0.3s;

  @include mq(md) {
    width: 30px;
  }
}

.c-circle-arrow::before {
  content: "";
  width: 9px;
  aspect-ratio: 8 / 4;
  background-color: currentColor;
  mask-image: url(../img/common/icon_arrow_small.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include mq(md) {
    width: 16px;
    mask-image: url(../img/common/icon_arrow.svg);
    top: calc(50% - 1px);
  }
}
