@use "../global" as *;

.c-news-item {
  border-bottom: 1px solid var(--c-base);
  padding-bottom: 16px;

  @include mq(md) {
    padding-bottom: 20px;
  }
}

.c-news-item__link {
  display: grid;
  grid-template:
    "date . tag . ."
    "title title title . icon"
    / auto 10px 1fr 30px auto;
  row-gap: 8px;

  @include mq(md) {
    grid-template:
      "date . tag . title . icon"
      / auto 5px auto 20px 1fr 20px auto;
    align-items: center;
  }
}

@media (any-hover: hover) {
  .c-news-item__link:hover {
    opacity: 1;
  }

  .c-news-item__link:hover .c-news-item__title span {
    background-size: 100% 1px;
  }

  .c-news-item__link:hover .c-news-item__arrow span {
    color: var(--c-base);
    background-color: var(--c-primary);
  }
}

.c-news-item__date {
  grid-area: date;
}

.c-news-item__tag {
  grid-area: tag;
  justify-self: start;
}

.c-news-item__title {
  grid-area: title;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;

  @include mq(md) {
    -webkit-line-clamp: 2;
  }
}

.c-news-item__title span {
  font-weight: 700;

  background-image: linear-gradient(90deg, currentColor, currentColor);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0 1px;
  transition: background-size 0.6s;

  @include mq(md) {
    line-height: 1.75;
  }
}

.c-news-item__arrow {
  grid-area: icon;
  align-self: end;

  @include mq(md) {
    align-self: center;
  }
}

// c-news-item--archive
.c-news-item--archive {
  border-color: var(--c-primary);
}

.c-news-item--archive .c-news-item__link {
  @include mq(md) {
    grid-template:
      "date . tag . ."
      "title title title . icon"
      / auto 10px 1fr 30px auto;
    row-gap: 6px;
  }
}
