@use "../global" as *;

.p-index-mission {
  padding-top: 160px;
  background-color: var(--c-base);

  @include mq(md) {
    padding-top: 105px;
  }
}

.p-index-mission__lead {
  margin-top: 60px;
  line-height: 1.75;

  @include mq(md) {
    margin: 40px 0 0 auto;
    font-size: 18px;
    max-width: 620px;
  }
}

.p-index-mission__list {
  --_button-position-x: -35px;
  margin-top: 42px;
  position: relative;

  @include mq(md) {
    --_button-position-x: 0;
    margin-top: 90px;
  }
}

.p-index-mission__list-inner {
  @include mq(md) {
    margin: 0 auto;
    width: min(750px, 100%);
  }
}

.p-index-mission__carousel-button {
  bottom: auto !important;
  top: 100%;

  @include mq(md) {
    top: calc(100% + 30px);
  }
}

.p-index-mission__carousel-button .swiper-pagination-bullet {
  margin: 0 7px !important;
  background-color: var(--c-primary);
}

.p-index-mission__carousel-prev,
.p-index-mission__carousel-next {
  height: auto;

  @include mq(md) {
    width: 35px;
  }
}

.p-index-mission__carousel-prev img,
.p-index-mission__carousel-next img {
  aspect-ratio: 27 / 44;
}

.p-index-mission__carousel-prev {
  left: var(--_button-position-x);
}

.p-index-mission__carousel-next {
  right: var(--_button-position-x);
}

.p-index-mission__item {
  display: grid;

  @include mq(md) {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
  }
}

.p-index-mission__number {
  font-family: var(--second-font);
  text-align: center;
  color: var(--c-primary);
}

.p-index-mission__number span {
  display: block;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;

  @include mq(md) {
    font-size: 30px;
  }
}

.p-index-mission__number em {
  font-size: 60px;
  font-weight: 300;
  line-height: 1;

  @include mq(md) {
    font-size: 100px;
  }
}

.p-index-mission__title-wrapper {
  margin-top: 20px;

  @include mq(md) {
    margin-top: 15px;
  }
}

.p-index-mission__title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 1.75;
  color: var(--c-primary);

  @include mq(md) {
    line-height: 1.5;
    align-self: center;
  }
}

.p-index-mission__texts {
  margin-top: 35px;
  order: 1;
  line-height: 1.75;
  display: grid;
  row-gap: 1em;

  @include mq(md) {
    margin-top: 40px;
    grid-template-rows: auto 1fr;
  }
}

.p-index-mission__icon {
  margin: 25px auto 0;
  width: 76px;

  @include mq(md) {
    margin: 30px auto 0;
  }
}

// 英語
html[lang="en"] .p-index-mission__lead {
  @include mq(md) {
    max-width: 660px;
  }
}
