@use "../global" as *;

.p-index-message {
  padding: 150px 0 100px;
  position: relative;

  @include mq(md) {
    padding: 185px 0 365px;
  }
}

.p-index-message__inner {
  position: relative;
  z-index: 3;

  @include mq(md) {
    width: min((940px + var(--padding-pc) * 2), 100%);
  }
}

.p-index-message__title {
  @include mq(xl) {
    transform: translateX(min(95px, calc(95 / 1440 * 100vw)));
  }
}

.p-index-message__cols {
  margin-top: 55px;
  display: grid;
  row-gap: 45px;

  @include mq(md) {
    grid-template-columns: 590fr 240px;
    align-items: flex-start;
    column-gap: min(95px, calc(95 / 990 * 100vw));
  }
}

.p-index-message__body {
  color: var(--c-text-white);
}

.p-index-message__lead {
  font-size: 22px;
  font-weight: 500;
  text-align: center;

  @include mq(md) {
    font-size: 26px;
    text-align: left;
  }
}

.p-index-message__text {
  margin-top: 30px;
  text-align: justify;
  line-height: 1.75;

  @include mq(md) {
    padding-right: 12px;
  }
}

.p-index-message__sign {
  margin-top: 30px;
  text-align: right;
  line-height: 1.75;

  @include mq(md) {
    margin-top: 25px;
  }
}

.p-index-message__sign span {
  display: block;
  font-size: 22px;
  font-weight: 700;
}

.p-index-message__img {
  order: -1;
  margin-inline: auto;
  width: 240px;

  @include mq(md) {
    order: initial;
    width: 100%;
  }
}

.p-index-message__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  clip-path: polygon(
    0 0,
    100% 0%,
    100% 100%,
    0 calc(100% - calc(79 / 390 * 100vw))
  );
  mix-blend-mode: multiply;
}

.p-index-message__bg img {
  width: 100%;
  height: 100%;
}

.p-index-message__foot {
  position: absolute;
  bottom: -87px;
  width: 100%;
  height: 300px;
  z-index: 0;

  @include mq(md) {
    height: 470px;
    bottom: -120px;
  }
}

.p-index-message__foot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
