@use "../global" as *;

.p-index-team {
  background-color: var(--c-base);
  padding: 45px 0;

  @include mq(md) {
    padding: 0 0 15px;
  }
}

.p-index-team__text {
  margin-top: 36px;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  row-gap: 1.5em;
  letter-spacing: 0.1em;
  line-height: 1.75;

  @include mq(md) {
    margin: 70px auto 0;
    width: min(940px, 100%);
    font-size: 18px;
  }
}

.p-index-team__button {
  margin: 45px auto 0;
  width: 190px;

  @include mq(md) {
    margin: 40px auto 0;
  }
}
