@use "../global" as *;

.p-index-news {
  background-color: #dde8ff;
  padding: 120px 0 80px;
  position: relative;

  @include mq(md) {
    padding: 190px 0 100px;
  }
}

.p-index-news::before {
  content: "";
  width: 100%;
  height: 85px;
  background-color: var(--c-base);
  clip-path: var(--clip-triangle-upper-right);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  @include mq(md) {
    height: 200px;
  }
}

.p-index-news__inner {
  padding: 0 15px;
  display: grid;
  grid-template:
    "title" auto
    "." 40px
    "list" auto
    "." 50px
    "button" auto / 1fr;

  @include mq(lg) {
    width: min((1240px + var(--padding-pc) * 2), 100%);
    padding: 0 var(--padding-pc) 0 75px;
    grid-template:
      "title title button" auto
      ". . ." 40px
      ". list list" auto
      / auto 50px 1fr;
  }
}

.p-index-news__list {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  row-gap: 20px;
}

.p-index-news__title {
  grid-area: title;
  padding-left: 15px;

  @include mq(md) {
    padding-left: 0;
  }
}

.p-index-news__tabs {
  grid-area: list;
  background-color: rgb(255 255 255 / 0.5);
  padding: 30px 20px;
  display: grid;
  row-gap: 18px;

  @include mq(md) {
    padding: 58px 60px;
    row-gap: 20px;
  }
}

.p-index-news__button {
  grid-area: button;
  justify-self: center;
  width: min(190px, 100%);

  @include mq(md) {
    justify-self: end;
    align-self: flex-end;
  }
}

// tab
.tab {
  display: none;
  scroll-margin-top: 120px;

  @include mq(md) {
    scroll-margin-top: 200px;
  }
}
.tab:target {
  display: block;
}
.tab:last-child {
  display: block;
}
.tab:target ~ section.tab:last-child {
  display: none;
}

.tab > nav {
  margin-top: 20px;

  @include mq(md) {
    margin-top: 30px;
  }
}

.tab > nav > a {
  font-size: 20px;
  color: var(--c-primary);
  font-style: italic;
  font-weight: 300;
  position: relative;
  padding-left: 15px;
}

.tab > nav > a.active {
  text-decoration: underline;
}

.tab > nav > a::before {
  content: "";
  width: 9px;
  aspect-ratio: 9 / 11;
  background-color: var(--c-primary);
  clip-path: var(--clip-triangle-right);
  position: absolute;
  top: calc(50% + 2px);
  left: 0;
  transform: translate(0, -50%);
}

/* レイアウト */
.tab > * {
  width: 100%;
  padding-top: 10px;
}
.tab > nav {
  padding: 0;
  display: flex;
  column-gap: 30px;
  justify-content: center;

  @include mq(md) {
    justify-content: flex-start;
  }
}
