@use "../global" as *;

.p-sub-page-body__inner {
  @include mq(md) {
    width: min((var(--inner-s) + var(--padding-pc) * 2), 100%);
  }
}

.p-sub-page-body__items {
  display: grid;
  row-gap: 1.5em;
  font-size: 15px;
  line-height: 1.733;

  @include mq(md) {
    font-size: 16px;
    line-height: 1.75;
  }
}

.p-sub-page-body__item {
  margin-top: 1.5em;
}

.p-sub-page-body a {
  text-decoration: revert;
}

// 英語
html[lang="en"] .p-sub-page-body__items {
  line-height: 1.5;
}
