@use "../global" as *;

// font-family
.u-font-en {
  font-family: var(--second-font);
}

// font-weight
.u-font-bold {
  font-weight: 700;
}

.u-font-semibold {
  font-weight: 600;
}

.u-font-medium {
  font-weight: 500;
}

// letter-spacing
.u-tracking-widest {
  letter-spacing: 0.1em;
}

.u-tracking-wider {
  letter-spacing: 0.05em;
}

.u-tracking-wide {
  letter-spacing: 0.02em;
}

// line-height
.u-leading-loose {
  line-height: 2;
}

.u-leading-relaxed {
  line-height: 1.7;
}

.u-leading-none {
  line-height: 1;
}

// color
.u-text-primary {
  color: var(--c-primary);
}

.u-text-accent {
  color: var(--c-accent);
}

// font-feature-settings
.u-palt {
  font-feature-settings: "palt";
}
